 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>房屋买卖居间合同</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="../../lib/layui1/css/layui.css">
  <link rel="stylesheet" href="../../css/global.css">
  <link rel="stylesheet" href="../../css/print.css">
   <link rel="stylesheet" href="../../css/animate.min.css">
</head>
<body style="margin: 0;">
<div class="layui-container print">
   <div class="main" id="print-area" style="position: relative;">
    			<div class="bh">合同编号：00033</div>
				<div class="h1">房屋买卖居间合同</div>
			   <div class="name">出卖人（以下简称甲方）：<span style="width:100pt;" id="owner">&nbsp;</span>身份证号：<span style="width:200pt;" id="card1">&nbsp;</span></div>
			   <div class="name">房屋共有人：<span style="width:172pt;" id="manT">&nbsp;</span>身份证号：<span style="width:200pt;" id="priceL">&nbsp;</span></div>
				<div class="name">法定代表人：<span style="width:172pt;">&nbsp;</span>营业执照号：<span style="width:188pt;">&nbsp;</span></div>
				<div class="name">代理人：<span style="width:196pt" id="man">&nbsp;</span>身份证号：<span style="width:200pt;">&nbsp;</span></div>
				<div class="name">联系地址：<span style="width:185pt">&nbsp;</span>联系电话：<span style="width:200pt;" id="manPhone">&nbsp;</span></div>
				<div class="name">买受人（以下简称乙方）：<span style="width:100pt;" id="client">&nbsp;</span>身份证号：<span style="width:200pt;" id="cardK1">&nbsp;</span></div>
				<div class="name">法定代表人：<span style="width:172pt;">&nbsp;</span>营业执照号：<span style="width:188pt;">&nbsp;</span></div>
				<div class="name">代理人：<span style="width:196pt" id="manK">&nbsp;</span>身份证号：<span style="width:200pt;">&nbsp;</span></div>
				<div class="name">联系地址：<span style="width:185pt">&nbsp;</span>联系电话：<span style="width:200pt;" id="manPhoneK">&nbsp;</span></div>
				<div class="name">居间方（以下简称丙方）：<span>沈阳可立刻好房不动产经纪有限公司</span> </div>  
				<div>根据《中华人民共和国合同法》、《中华人民共和国城市房地产管理法》、《城市房地产中介服务管理规定》及其他有关法律、法规之规定，出卖人与买受人在平等、自愿、协商一致的基础上就存量房屋买卖达成如下协议：</div> 
				<div class="strong">第一条 房屋基本情况</div>
				<div>1、甲方所售房屋（以下简称该房屋）位于：沈阳市<span style="width:200pt;" id="address">&nbsp;</span>，该房屋建筑面积：<span style="width:50pt;" id="build">&nbsp;</span>平方米（房屋具体面积与地址以房屋所有权证上的记载面积为准），房屋内有 □供水 □供电 □供暖 □供煤气或燃气设施。</div>
				<div>2、该房屋规划用途为：□住宅 □公寓 □别墅 □商业 □其他 </div>
				<div>甲方承诺：本人及其他产权人对该房屋拥有完全产权，本人同意且经房屋共有人同意出售或委托授权处分该房屋，该房屋无产权法律纠纷，不存在查封、债权债务纠纷等影响转让的因素，保证出售该房屋后所在户籍迁出（包括但不限于户主户口）。乙方已实际看过该房屋，了解并认可该房屋的详细情况。</div>
				<div class="strong">第二条 房屋权属情况</div>
				<div>该房屋共有情况为：□单独所有   □共同共有   □按份共有</div>
				<div>1、该房屋：□有房屋所有权证    □有备案合同</div>
				<div>该房屋所有权证号：<span style="width:25%;">&nbsp;</span>共有房屋所有权证号：<span style="width:25%;">&nbsp;</span></div>                             
				 <div> 该房屋备案合同号：<span style="width:25%;">&nbsp;</span> 契证号：<span style="width:25%;">&nbsp;</span></div>                               
				 <div>2、该房屋的抵押情况为：</div> 
				 <div>□该房屋未设定抵押</div> 
				 <div>□该房屋已经设定抵押，提前还款产生的利息和费用，由甲方自行承担</div> 
				 <div>甲方欠贷额度约为（大写：<span style="width:25%;">&nbsp;</span>）元整（￥<span style="width:10%;">&nbsp;</span>元），具体欠贷额度以银行实际记载为准。</div> 
				  <div class="PageNext"></div>
				<div class="bh">合同编号：00033</div>
				 <div>甲方向该房屋的贷款机构提交一次性还清剩余贷款的申请时间为：</div> 
				 <div>□甲方应于<span>&nbsp;</span>年<span>&nbsp;</span>月<span>&nbsp;</span>日起七个工作日内</div> 
				 <div>□甲方应于乙方贷款审批通过后三个工作日内</div> 
				 <div>甲方和乙方协商办理还款赎证的方式为：</div> 
				 <div>□由甲方自己解决 </div> 
				 <div>□由乙方出资人民币（大写：<span style="width:25%;">&nbsp;</span>）元整（￥<span style="width:10%;">&nbsp;</span>元）替甲方偿还欠贷并将产权证赎出（该笔款项包含前期支付的全部定金），该笔赎证款以银行转账方式支付给卖方并冲抵购房款，买卖双方同意自行办理还款赎证及解押事宜，居间方已告知风险，双方知晓并认可。</div>
				<div>3、该房屋的租赁情况为：</div> 
				<div>□甲方未将该房屋出租</div>    
				<div>□甲方已将该房屋出租</div> 
				<div>甲方已将该房屋出租的，需保证承租人已放弃优先购买权，并能够积极配合房屋交易过程中的评估、房屋交验过程，若因此产生相关纠纷导致合同无法履行或被撤销，由甲方承担违约责任；至甲方交房日期起，涉及后续的租约及租金应直接转交给乙方。甲方承诺对上述房屋信息真实性承担法律责任，买受人对上述房屋及房屋权属资料已实际验看过，并对相关情况已充分了解，自愿购买。</div>
				<div class="strong">第三条  成交价格、购房定金、付款方式</div>
				<div>1、房屋成交价格：经甲乙双方协商一致，该房屋成交价格为：人民币（大写）：<span style="width:15%;">&nbsp;</span>元整（￥<span style="width:10%;">&nbsp;</span>元）,该价格不因市场价格的波动或面积的变化而变动。</div>
				<div>该房屋的成交价格包括以下设施：</div>
				<div>（1）□固定装修  □部分家电、家具：□冰箱<span style="width:3%;">&nbsp;</span>个  □电视 <span style="width:3%;">&nbsp;</span>个  □洗衣机 <span style="width:3%;">&nbsp;</span>个□热水器 <span style="width:3%;">&nbsp;</span>个  □空调 <span style="width:3%;">&nbsp;</span> 个□油烟机 <span style="width:3%;">&nbsp;</span>个 □炉具 <span style="width:3%;">&nbsp;</span>个  □双人床 <span style="width:3%;">&nbsp;</span>个 □单人床 <span style="width:3%;">&nbsp;</span>个 □沙发 <span style="width:3%;">&nbsp;</span>个 □茶几 <span style="width:3%;">&nbsp;</span>个 □电视柜 <span style="width:3%;">&nbsp;</span>个□衣柜 <span style="width:3%;">&nbsp;</span>个 □餐桌 <span style="width:3%;">&nbsp;</span>个 □其他<span style="width:30%;">&nbsp;</span></div>                                                     
				<div>（2）□地下室 □车位 □仓房 </div>
				<div>产权证号或合同登记号：<span style="width:15%;">&nbsp;</span>，具体位置或房号：<span style="width:15%;">&nbsp;</span>权属转移时间 <span style="width:15%;">&nbsp;</span>（时间或条件）；</div>  
				<div>（3）□其他：<span style="width:15%;">&nbsp;</span></div> 
				<div>2、购房定金：购房定金共计人民币（大写）：<span style="width:20%;">&nbsp;</span> 元整（￥<span style="width:10%;">&nbsp;</span> 元），于买卖双方交接房款时冲抵房款。</div> 
				<div>3、乙方付款方式为：□全款  □贷款</div> 
				<div>全款：</div>
				<div>1.乙方于 <span style="width:10%;">&nbsp;</span>（请约定支付时间或条件）将第一笔购房款人民币（大写）：<span style="width:20%;">&nbsp;</span>元整（￥ <span style="width:10%;">&nbsp;</span>元）支付给甲方（不包含前期支付的全部定金）。</div>
				<div>2.乙方于<span style="width:10%;">&nbsp;</span>（请约定支付时间或条件）将第二笔购房款人民币（大写）：<span style="width:20%;">&nbsp;</span>元整（￥ <span style="width:10%;">&nbsp;</span>元）支付给甲方。</div>
				<div class="PageNext"></div>
				<div class="bh">合同编号：00033</div>
				<div>3.乙方于<span style="width:10%;">&nbsp;</span>（请约定支付时间或条件）将第三笔购房款人民币（大写）：<span style="width:20%;">&nbsp;</span>元整（￥ <span style="width:10%;">&nbsp;</span>元）支付给甲方。</div>
				<div>贷款</div>
				<div>1.关于首付款的支付，甲乙双方同意按照下述方式履行：</div>
				<div>（1）乙方于 □权属交易转移登记当日   □<span style="width:20%;">&nbsp;</span>将第一笔首付款人民币（大写）：<span style="width:20%;">&nbsp;</span>元整（￥ <span style="width:10%;">&nbsp;</span>元）支付给甲方（不包含前期支付的全部定金）。</div> 
				<div>（2）乙方于□权属交易转移登记当日   □ <span style="width:20%;">&nbsp;</span>（请约定支付时间或条件）将第二笔购房款人民币（大写）：<span style="width:20%;">&nbsp;</span>元整（￥ <span style="width:10%;">&nbsp;</span>元）支付给甲方。</div>
				<div>（3）乙方于<span style="width:10%;">&nbsp;</span>（请约定支付时间或条件）将第三笔购房款人民币（大写<span style="width:20%;">&nbsp;</span>）：元整（￥ <span style="width:10%;">&nbsp;</span>元）支付给甲方。</div>
				<div>2.关于贷款的约定</div>
				<div>（1）买受人以□商业贷款  □公积金贷款  □组合贷款 方式申办抵押贷款，并由贷款机构按其规定将该部分贷款资金直接支付给出卖人/存入银行三方托管账户，买受人拟贷款金额为人民币（大写）：<span style="width:15%;">&nbsp;</span>元整（￥<span style="width:10%;">&nbsp;</span>元），为保证交易安全及操作便利，贷款银行由甲乙双方共同委托居间方指定，乙方具体贷款额度、贷款年限及贷款利率以银行/公积金管理中心最终审核为准；乙方自身原因未获得贷款机构批准的（包括贷款未获得批准和未按照前述拟贷款金额足额批准的）双方同意按照以下哪种方式解决：</div>
				<div>□ 乙方自行筹齐剩余房款，以现金形式支付给甲方；</div>
				<div>□ 乙方继续申请其他贷款机构贷款，至贷款批准，乙方自行负担期间已发生的及要产生的各项费用；如仍未获得批准和未按照前述拟贷款金额足额批准的，买受人自行筹齐剩余房款，以现金形式支付给出卖人；</div>
				<div>□ 本合同终止，买受人支付的定金和房款应如数返还，甲乙双方互不承担责任，买受人承担在申办贷款过程中发生的各项费用。</div>
				<div>（2）面签手续：出卖人与买受人应在接到面签通知后<span style="width:5%;">&nbsp;</span>日内配合贷款代办方共同前往贷款机构办理面签手续。</div>
				<div>（3）房屋评估：出卖人应在接到评估通知后五日内配合评估公司对房屋进行评估。</div>
				<div>（4）申请购房贷款：买受人应于领取新的房屋所有权证后<span style="width:5%;">&nbsp;</span>日内前往公积金管理中心/贷款机构办理贷款手续，如因乙方逾期办理贷款手续，每逾期一日，乙方按照房屋总价款的万分之五向甲方支付违约金，并于甲方收到购房款当日向甲方支付违约金。</div>
				<div>（5）买受人抵押贷款的放款时间以银行/公积金管理中心放款时间为准，出卖人和买受人对此知晓并认可。</div>
				<div class="strong">第四条 税费的承担 </div>
				<div>1、本次交易所产生的税、费、金： </div>
				<div class="PageNext"></div>
				<div class="bh">合同编号：00033</div>
				<div>由出卖人承担：□增值税及附加（房屋评估价5.6%）  □个人所得税（房屋评估价1%）  □契税  □交易费 □产权证工本费  □房地产买卖的公证费  □其他<span style="width:15%;">&nbsp;</span></div>                                 
				<div>由买受人承担：□增值税及附加（房屋评估价5.6%）  □个人所得税（房屋评估价1%）  □契税  □交易费 □产权证工本费  □房地产买卖的公证费  □其他<span style="width:15%;">&nbsp;</span> </div>
				<div>遇有新增税种的：□须依照国家有关规定应承担税费的合同当事人承担 □由出卖人承担   □由买受人承担  □甲乙双方各承担一半
				出卖人与买受人双方在办理房屋权属过户时应按照国家规定标准，如实缴纳所需税费，如房屋评估价格高于房屋成交价格，则需按评估价格标准缴纳相关税费；办理房屋权属过户等相关业务产生的税（费）项、税（费）率、税（费）额均以税务部门、房地产交易市场等相关部门出具的单据为准，居间方提供的购房预算仅供参考，不作为缴纳上述相关费用的依据。</div>
				<div>3、该房屋本次交易前的大修基金：□已交（已结清票据为准.随房价一同转让给买受人）  □未交  甲乙双方协商一致由 □甲方承担  □乙方承担。</div>
				<div class="strong">第五条  产权转移、交房时间、物业交割、物业交割保证金</div>
				<div>1、办理产权转移手续时间为：□乙方贷款银行审批通过七个自然日内</div>
				 <div>□甲方还清欠贷并解押后三个工作日内开始办理产权转移手续</div>  
				 <div>□其他约定：<span style="width:15%;">&nbsp;</span></div>                                           
				 <div>2、房屋交付时间：□收到全部房款后<span style="width:5%;">&nbsp;</span>日内   □产权转移后 <span style="width:3%;">&nbsp;</span>个自然日内   □协商约定<span style="width:15%;">&nbsp;</span> </div>                          
				 <div>3、甲乙双方于房屋交付当日自行办理物业交割，丙方陪同。在房屋交付前发生的费用（包括但不限于物业管理费、供暖费、水、电费、燃气费、有线电视费、网络服务费等）由甲方承担，交付以后发生的费用由乙方承担。</div> 
				 <div>4、物业交割保证金：甲乙双方协商一致同意</div> 
				 <div>□乙方从首付款中预留人民币<span style="width:5%;">&nbsp;</span>元整（￥<span style="width:5%;">&nbsp;</span>元）作为物业交割保证金,甲乙双方于物业交割完成后，当天乙方将该款交付给甲方。</div> 
				 <div>□甲方从定金中预留人民币<span style="width:5%;">&nbsp;</span>元整（￥<span style="width:5%;">&nbsp;</span>元）作为物业交割保证金交给丙方代为保管,待甲乙双方于物业交割完成后，一个自然日内丙方将该款还给甲方。</div> 
				 <div class="strong">第六条 房屋产权及具体状况的承诺</div> 
				<div>1、出卖人应当保证该房屋没有产权纠纷，未被限制转让，出卖人承诺其配偶和该房屋的共有权人均知晓并同意本次房屋交易，认可本合同及其他相关文件的约定，且认可本合同及其他相关文件的约定，如因一方违反前述承诺，导致该房屋不能办理产权登记或发生债权纠纷的，由违约方承担违约责任。</div>
				<div>2、出卖人确认，在房屋本体结构内 □是  □否 发生过非正常死亡事件（包括但不限于自杀、他杀、从该房屋内坠出死亡、意外死亡等）。如果出卖人在签署本合同前就前述事项隐瞒真实情况的，三方确认：因出卖人之欺诈行为，使得买受人和居间方在违背真实意思的基础上订立本合同，买受人有权依法要求撤销房屋买卖合同及相关协议，出卖人另应承担如下责任：</div>
					<div class="PageNext"></div>
				<div class="bh">合同编号：00033</div>
				<div>（1）出卖人应当在买受人提出请求后十个工作日内返还买受人全部房款；未如期返还的，出卖人应当按日计算向买受人支付房屋成交总价万分之五的滞纳金。</div>
				<div>（2）出卖人应赔偿买受人及居间方因此所受的损失，包括但不限于：就已收取的房款按照银行同期贷款利率赔偿买受人利息损失、赔偿买受人为购房支出的税费、贷款费用等实际支出、买受人已向居间方交纳的全部费用、房屋价格上涨的差价损失、买受人实际支出的装修、物业、使用费用等。居间方已收取的居间服务费不予退还，由出卖人直接赔付于买受人。</div>
				<div>4、出卖人确认该房屋主体结构内（不含公共区域：如公共管道、外墙、屋顶等） □是  □否 存在漏水（“漏水”指房屋顶部、墙面、室内管道或地面发生的渗水或漏水现象）的情况。若该房屋主体结构内存在漏水情况，出卖人应当在交付房屋之前完成修复。如出卖人未予修复，买受人在房屋交付后自行维修的，出卖人应当承担全部维修费用；因维修房屋影响买受人使用的，出卖人另应当赔付买受人因此所受的实际损失，但买受人使用不当，导致该房屋主体结构内发生漏水的不在本条款所约定之范围内。</div>
				<div class="strong">第七条  居间服务与佣金</div>
				<div>1、甲、乙双方同意，共同委托丙方作为交易居间人。丙方提供的居间服务包括：（1）提供房屋买卖市场行情咨询；（2）为出卖人所售房屋发布广告、进行市场推广，搜寻潜在购房客户；（3）引领买受人实地看房勘验；（4）协助查看房屋权属证明文件；（5）协助乙方协商、洽谈、确定成交意向；（6）协助交易双方协商房屋买卖合同的相关条款的内容；（7）甲乙双方在签订本合同之日起，丙方可收取甲乙双方交付的权属变更、贷款申请等所需资料，经甲乙双方同意，协助甲乙双方办理抵押登记或注销、贷款申请、税务登记、权属转移登记等相关事宜。</div>
				<div>2、甲、乙双方签订本合同时，丙方的居间行为完成。甲、乙双方应向丙方支付本合同约定的居间服务佣金，按该房屋成交价的 <span style="width:3%;">&nbsp;</span> %向丙方支付居间服务佣金，即应向丙方支付的居间服务佣金为人民币（大写）：<span style="width:10%;">&nbsp;</span> 元整（￥<span style="width:5%;">&nbsp;</span>元），其中甲方承担人民币（大写）：<span style="width:10%;">&nbsp;</span>元整（￥ <span style="width:5%;">&nbsp;</span>元），乙方承担人民币（大写）：<span style="width:10%;">&nbsp;</span>元整（￥<span style="width:5%;">&nbsp;</span>元），并应于本合同签订当日向丙方支付。</div>
				<div>3、本合同签订后，居间方收取的买卖双方居间服务费及贷款期间已发生的各项费用不予退还。如因甲方或乙方违约导致本合同不能继续履行或解除的，由违约方直接向守约方赔付。</div>
				<div class="strong">第八条  违约责任</div>
				<div>买卖双方任何一方逾期履行本合同约定义务的，每逾期一日，违约方应按日计算向守约方支付房屋总价款万分之五的违约金。</div>
				<div>出卖人若出现下列情形之一的，出卖人构成根本违约，且买受人有权以书面通知的方式解除房屋买卖合同：</div>
				<div>（1）出卖人提供的该房屋所有权证、原购房合同等相关产权证明手续不真实、不完整、无效，导致乙方无法取得房屋所有权的；</div>  
				<div>（2）该房屋被查封或限制转让，导致乙方无法取得房屋所有权的；</div>
					<div class="PageNext"></div>
				<div class="bh">合同编号：00033</div>
				<div>（3）拒绝将该房屋出售给乙方或者擅自提高房屋交易价格的；</div>
				<div>（4）将该房屋出售给第三方的；</div>
				<div>（5）逾期履行合同约定的义务超过30日的。</div>
				<div>出卖人出现上述根本违约情形之一的，出卖人应在违约行为发生之日起十五日内，以相当于该房屋总价款的20%向买受人支付违约金；居间机构收取买受人的所有费用不予退还，由出卖人直接赔付买受人。</div>
				<div>3、买受人若出现下列情形之一的，买受人构成根本违约，且出卖人有权以书面通知的方式解除房屋买卖合同：</div>
				<div>（1）拒绝购买该房屋的；</div>
				<div>（2）逾期履行本合同约定的义务超过30日的；</div>
				<div>买受人出现上述根本违约情形之一的，买受人应在违约行为发生之日起十五日内，以相当于该房屋总价款的20%向出卖人支付违约金；买受人向出卖人已支付的全部款项冲抵违约金，多退少补；居间机构收取买受人的费用不予退还。</div>
				<div>4、本合同中相关条款已有违约责任约定的，若一方违反该条款下约定义务的，则违约责任依照该条款中违约责任处理。</div>
				<div>5、在合同履行过程中，如甲乙双方自行办理过户手续，甲乙双方应按本合同第七条约定向丙方支付居间服务佣金。</div>
				<div>6、如甲乙双方自行协商解除合同的，甲乙双方应按本合同第七条约定向丙方支付居间服务佣金。</div> 
				<div>7、在合同履行期间，如出台新的限购或限贷政策且该政策导致本合同无法继续履行的，买卖双方互不承担违约责任。</div>
				<div class="strong">第九条 权属转移登记</div>
				<div>1、出卖人在签署本合同当日需将 □房屋所有权证原件  □相关权属证明原件 放于居间方处，并在<span style="width:3%;">&nbsp;</span>日内备齐交易相关文件交予居间方。</div>
				<div>2、买受人在签署本合同后  日内，备齐过户及贷款相关文件交予居间方。</div>
				<div>3、出卖人与买受人双方承诺，在双方备齐所有过户及相关手续<span style="width:3%;">&nbsp;</span> 日内，开始办理贷款审核、还款赎证、领取解押手续、注销抵押、查档、申报税费、缴纳税费、递交过户手续、银行三方托管、领取新买受人房产证、商贷部分（商贷抵押、领取他项权证、商贷银行放款）或公贷及组合部分（公积金评估、组合贷款商贷审批、公积金签约、抵押、公积金放款、组合商贷部分放款）等相关手续。</div>
				<div class="strong">第十条  户口的迁出</div>
				<div>户口迁出保证金：出卖人和买受人一致同意，买受人从本合同约定的购房款中留存人民币：<span style="width:10%;">&nbsp;</span>元整（￥<span style="width:5%;">&nbsp;</span>元）作为户口迁出保证金，待出卖人于<span style="width:4%;">&nbsp;</span>年<span style="width:4%;">&nbsp;</span>月<span style="width:4%;">&nbsp;</span>日迁出原有户口（包括但不限于户主户口）后返还出卖人该户口迁出保证金。如出卖人逾期迁出原有户口，则每逾期1日，出卖人按照房屋总价款的万分之五支付违约金，直至户口迁出日期截止。出卖人迁出原有户口当日，由买受人自行支付给出卖人。</div>
				<div class="PageNext"></div>
				<div class="bh">合同编号：00033</div>
				<div class="strong">第十一条  不可抗因素的约定</div>
				<div>1、如遇国家政策变化、社会突发事件、政府或银行等机构行为变化导致和交易相关的因素弹性变化时，以当时具体执行政策和变化结果为准。</div>
				<div>2、如遇地震、火灾、水灾或刚性政策出台，导致交易无法进行时，本合同各方当事人均不承担部分或者全部法律责任，可协商解除合同。</div>
				<div class="strong">第十二条  合同在履行中的变更与处理</div>
				<div>1、本合同在履行期间，任何一方要求变更合同条款的，应及时书面通知其他两方，并征得其他两方同意后，在3天内签订补充条款，注明变更事项。未书面告知变更要求，并征得其他两方同意，擅自变更所造成的经济损失，由责任方承担。</div>
				<div>2、在合同履行期间，三方因履行本合同签署的补充协议及其他书面文件，均为本合同不可分割的一部分，具有同等法律效力。</div>
				<div class="strong">第十三条  争议解决</div>
				<div>当本合同在履行中发生争议时，由甲乙双方协商解决；协商不成，任何一方可向该房屋所在地的人民法院提起诉讼。</div>
				<div class="strong">第十四条  合同的生效和份数</div>
				<div>1、本协议一式叁份，其中甲乙双方各一份，丙方存档一份，叁份具有同等法律效力，自各方签字或盖章之日起生效。</div>
				<div>2、经各方同意，三方可以根据具体情况对本合同中未约定、约定不明或不适用的内容签订书面补充协议。对本合同的解除，应当采用书面形式。本合同附件及补充协议与本合同具有同等法律效力。</div>
				<div class="strong">第十五条　其他约定：若本条的约定与其他条款的约定不一致，以本条的约定内容为准。<span style="width:100%;">&nbsp;</span><span style="width:100%;">&nbsp;</span><span style="width:100%;">&nbsp;</span><span style="width:80%;">&nbsp;</span></div>    　　　　　　　　　　　
				<div>提示：未经甲、乙双方签字及丙方盖章的任何书面承诺、口头承诺、条款的变更等行为均不产生法律约束力，且甲、乙双方对各自的权利、义务清楚明白，认可上述合同条款，并愿按本协议约定严格履行。 </div> 
				<div>（以下无正文）</div> 
	  			 <div class="ul">
	  			 	<div class="li">
	  			 		<div><span class="man">甲方（出卖人）：</span><span class="mana">&nbsp;</span></div>
	  			 		<div><span class="man">房屋共有人：</span><span class="mana">&nbsp;</span></div>
	  			 		<div><span class="man">代理人：</span><span class="mana">&nbsp;</span></div>
	  			 		<div class="datebox"><span class="date">&nbsp;</span>年<span class="date">&nbsp;</span>月<span class="date">&nbsp;</span>日</div>
	  			 	</div>
	  			 	<div class="li">
	  			 		<div><span class="man">乙方（买受人）：</span><span class="mana">&nbsp;</span></div>
	  			 		<div><span class="man"></span><span class="mana">&nbsp;</span></div>
	  			 		<div><span class="man">代理人：</span><span class="mana">&nbsp;</span></div>
	  			 		<div class="datebox"><span class="date">&nbsp;</span>年<span class="date">&nbsp;</span>月<span class="date" >&nbsp;</span>日</div>
	  			 	</div>
	  			 	<div class="li">
	  			 		<div><span class="man">丙方（居间方）：</span><span class="mana">&nbsp;</span></div>
	  			 		<div><span class="man">门店：</span><span class="mana">&nbsp;</span></div>
	  			 		<div><span class="man">经理：</span><span class="mana">&nbsp;</span></div>
	  			 		<div><span class="man">经办人：</span><span class="mana">&nbsp;</span></div>
	  			 		<div><span class="date">&nbsp;</span>年<span class="date">&nbsp;</span>月<span class="date">&nbsp;</span>日</div>
	  			 	</div>
	  			 	<div style="clear: both;"></div>
	  			 	
	  			 </div>
			</div>
</div>
<div class="fly-footer"></div>
<div class="layui-layer-btn layui-layer-btn-c fixed">
	 <a class="layui-layer-btn0" id="getCheckData">打印预览</a>
	 <a class="layui-layer-btn1" id="close">取消</a>
 </div>
 <script src="../../lib/layui/layui.js"></script>
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.jqprint-0.3.js"></script>
<script src="js/print.js"></script>
<script>
$("#getCheckData").click(function(){
		$("#print-area").jqprint({
			debug: false,            
			importCSS: true,         
			printContainer: true,    
			operaSupport: true  
		});
	
});

</script>

</body>

</html>