@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
img{border:0;width: 100%;height: 100%;}

/* DB_gallery */
#DB_gallery{width:323px;}
#DB_gallery .DB_imgSet {position:relative;height:230px;overflow:hidden;}
#DB_gallery .DB_imgSet .DB_imgWin{height:100%;width: 100%;}
#DB_gallery .DB_imgSet .DB_page{position:absolute;bottom:0;font:11px tahoma bold;padding:2% 3%;color:#ffffff;background: rgba(0,0,0,0.5);width: 94%;text-align: right;}
#DB_gallery .DB_imgSet .DB_page .DB_current{color:#fff}
#DB_gallery .DB_imgSet .DB_page .DB_total{color:#fff}
#DB_gallery .DB_imgSet .DB_prevBtn{position:absolute;top:50%;margin-top:-45px;cursor:pointer;left:0;}
#DB_gallery .DB_imgSet .DB_nextBtn{position:absolute;top:50%;margin-top:-45px;cursor:pointer;right:0;}

#DB_gallery .DB_thumSet {position:relative;margin-top:10px;width:323px;overflow:hidden}
#DB_gallery .DB_thumSet .DB_thumMove{position:relative;white-space:nowrap;font-size:0;}
#DB_gallery .DB_thumSet .DB_thumMove li{display:inline-block;margin-right:8px;width:77px;height:57px;}
#DB_gallery .DB_thumSet .DB_prevPageBtn{position:absolute;top:0;cursor:pointer;left:0;height: 100%;}
#DB_gallery .DB_thumSet .DB_nextPageBtn{position:absolute;top:0;cursor:pointer;right:0;height: 100%;}
#DB_gallery .DB_thumSet .DB_thumLine{position:absolute;width:77px;height:55px;border:1px solid #177ce3;left:0;top:0}