 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>合同详情页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="../../lib/layui1/css/layui.css">
  <link rel="stylesheet" href="../../css/global.css">
  <link rel="stylesheet" href="../../css/animate.min.css">
  <link rel="stylesheet" href="../../lib/layui1/mods/extend/step/step.css" />
</head>
<body>
<div class="layui-container fly-marginTop" id="full" style="width: 100%;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md9">
      <div class="fly-panel">
        <div class="fly-panel-title fly-filter">
          <a style="color: #177ce3;border-left: 2px #177ce3 solid;">合同信息</a>
          <span class="fly-filter-right layui-hide-xs">
            <a href="javascript:void(0);" id="alter" style="color: #177ce3;">
            	<i class="layui-icon">&#xe642;</i>编辑
            </a>
             <span class="fly-mid"></span>
            <a href="javascript:void(0);" id="void" style="color: #177ce3;">作废</a>
          </span>
        </div>
          <div class="layui-row">
					<div class="layui-col-md12  fly-panel">
					  <div class="detail-box content detail">
							<h1 style="display: flex;">
								<span>开发区万达广场66号楼201</span>
								<span class="layui-badge layui-bg-red" style="margin-top:6px">住宅</span>
							</h1>
							<div class="detail-body" style="min-height: auto;">
								<div class="layui-col-md3">
									<p>合同金额： 10000.0000万元</p>
								</div>
								<div class="layui-col-md3">
									<p>合同编号：TCFC000001</p>
								</div>
								<div class="layui-col-md3">
									<p>合同进度：办件中</p>
								</div>
								<div class="layui-col-md3">
									<p>签约日期：2019-04-13</p>
								</div>
								<div class="layui-col-md3">
									<p>签约地址： </p>
								</div>
								<div class="layui-col-md3">
									<p>算单依据：房款</p>
								</div>
								<div class="layui-col-md3">
									<p>签约员工：同策房产-杨</p>
								</div>
							</div>
					  </div>
					</div>
			  </div>
      </div>

      <div class="fly-panel">
       <div class="layui-tab layui-tab-brief">
			  <ul class="layui-tab-title">
					<li class="layui-this">基本信息</li>
					<!-- <li>财务详情</li>
					<li>业绩详情</li> -->
					<li>办件流程</li>
					<li>合同照片</li>
			  </ul>
			  <div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<ul class="fly-list">          
					  <li style="height: auto;padding: 10px 0;border: none;">
					  <fieldset class="layui-elem-field layui-field-title">
						  <legend style="font-size: 16px;">房源信息</legend>
						</fieldset>
							<div class="detail-body" style="min-height: auto;font-size: 14px;">
								<div class="layui-col-md3">
									<p>房源编号：S-TCFC000005</p>
								</div>
								<div class="layui-col-md3">
									<p>房源来源：门店接待</p>
								</div>
								<div class="layui-col-md3">
									<p>证件号码：210211199602255815</p>
								</div>
								<div class="layui-col-md3">
									<p>证件地址：</p>
								</div>
								<div class="layui-col-md3">
									<p>签约地址：</p>
								</div>
								<div class="layui-col-md3">
									<p>建筑面积：20㎡</p>
								</div>
								<div class="layui-col-md3">
									<p>套内面积：20㎡</p>
								</div>
								<div class="layui-col-md3">
									<p>物业楼层：4/5</p>
								</div>
								<div class="layui-col-md3">
									<p>物业户型：1室2厅2卫2阳台</p>
								</div>
								<div class="layui-col-md3">
									<p>成交单价：1000000元/㎡</p>
								</div>
								<div class="layui-col-md3">
									<p>房产抵押：无</p>
								</div>
								<div class="layui-col-md3">
									<p>租赁状态：无</p>
								</div>
								<div class="layui-col-md3">
									<p>解押日期：</p>
								</div>
								<div class="layui-col-md3">
									<p>到期日期：</p>
								</div>
								<div class="layui-col-md3">
									<p>业主姓名：碑额</p>
								</div>
								<div class="layui-col-md3">
									<p>证件号码：身份证 152323198802030015</p>
								</div>
								<div class="layui-col-md3">
									<p> 联系地址：电饭锅电饭锅是大法官是大法官稍等</p>
								</div>
								<div class="layui-col-md3">
									<p>代 理 人：</p>
								</div>
								<div class="layui-col-md3">
									<p>代理电话：</p>
								</div>
								<div class="layui-col-md3">
									<p>服务佣金：</p>
								</div>
								<div class="layui-col-md3">
									<p>比  例：</p>
								</div>
								<div class="layui-col-md3">
									<p>共有权人：()</p>
								</div>
								<div class="layui-col-md3">
									<p>证件号码：</p>
								</div>
							</div>
					  </li>
					  <li style="height: auto;padding: 10px 0;border: none;">
						  <fieldset class="layui-elem-field layui-field-title">
							  <legend style="font-size: 16px;">客源信息</legend>
							</fieldset>
							<div class="detail-body" style="min-height: auto;font-size: 14px;">
								<div class="layui-col-md3">
									<p>客户编号：TCFC000001</p>
								</div>
								<div class="layui-col-md3">
									<p>客户来源：门店接待</p>
								</div>
								<div class="layui-col-md3">
									<p>客户首付：</p>
								</div>
								<div class="layui-col-md3">
									<p>余款支付方式：</p>
								</div>
								<div class="layui-col-md3">
									<p>客户姓名：加速度</p>
								</div>
								<div class="layui-col-md3">
									<p>客户电话：13478472056</p>
								</div>
								<div class="layui-col-md3">
									<p>证件号码：身份证 152323198802050016</p>
								</div>
								<div class="layui-col-md3">
									<p>通讯地址：士大夫士大夫士大夫士大夫</p>
								</div>
								<div class="layui-col-md3">
									<p>代 理 人：</p>
								</div>
								<div class="layui-col-md3">
									<p>代理电话：</p>
								</div>
								<div class="layui-col-md3">
									<p>证件号码：</p>
								</div>
								<div class="layui-col-md3">
									<p>服务佣金：</p>
								</div>
								<div class="layui-col-md3">
									<p>比  例：</p>
								</div>
								<div class="layui-col-md3">
									<p>共有权人：</p>
								</div>
								<div class="layui-col-md3">
									<p>证件号码：</p>
								</div>
							</div>
					  </li>
					  <li style="height: auto;padding: 10px 0;border: none;">
						  <fieldset class="layui-elem-field layui-field-title">
							  <legend style="font-size: 16px;">合同备注</legend>
							</fieldset>
							<div class="detail-body" style="min-height: auto;font-size: 14px;">
								<div class="layui-col-md12">
									<p>备注内容： 士大夫阿斯蒂芬阿斯蒂芬啊</p>
								</div>
							</div>
					  </li>
					  <li style="height: auto;padding: 10px 0;border: none;">
						  <fieldset class="layui-elem-field layui-field-title">
							  <legend style="font-size: 16px;">附加条款</legend>
							</fieldset>
							<div class="detail-body" style="min-height: auto;font-size: 14px;">
								<div class="layui-col-md12">
									<p>条款内容：</p>
								</div>
							</div>
					  </li>
					</ul>
				</div>
				<!-- <div class="layui-tab-item">
					<div class="fly-panel" pad20 style="margin-bottom: 0;">
				   		<blockquote class="layui-elem-quote">
							<span>应收应付：<a style="color:#177ce3;">20000</a>元</span>
							<span>实收实付：<a style="color:#177ce3;">20000</a>元</span>
				   		</blockquote>   
					   <table id="finance" lay-filter="finance"></table>
					 </div>
				</div>
				<div class="layui-tab-item">
					<div class="fly-panel" pad20 style="margin-bottom: 0;">
				   		<blockquote class="layui-elem-quote">
							<span>应收应付：<a style="color:#177ce3;">20000</a>元</span>
							<span>实收实付：<a style="color:#177ce3;">20000</a>元</span>
				   		</blockquote>   
					   <table id="finance" lay-filter="finance"></table>
					 </div>
				</div> -->
				<div class="layui-tab-item">
					<div id="steps" style="width: 98%;margin: 20px auto;"></div>
					<div class="fly-panel" pad20 style="height: 400px;overflow-y: auto;">
						<ul class="layui-timeline">
						  <li class="layui-timeline-item">
							<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
							<div class="layui-timeline-content layui-text">
							  <div class="layui-timeline-title">2018-10-11 17:50:00 签署合同成功 <span>白杰</span></div>
							</div>
						  </li>
						  <li class="layui-timeline-item">
							<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
							<div class="layui-timeline-content layui-text">
							  <div class="layui-timeline-title">2018-10-12 17:50:00，上传合同照片 <span>白杰</span></div>
							</div>
						  </li>
						   <li class="layui-timeline-item">
							<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
							<div class="layui-timeline-content layui-text">
							  <div class="layui-timeline-title">2018-10-12 17:50:00，上传合同照片 <span>白杰</span></div>
							</div>
						  </li>
						   <li class="layui-timeline-item">
							<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
							<div class="layui-timeline-content layui-text">
							  <div class="layui-timeline-title">2018-10-12 17:50:00，上传合同照片 <span>白杰</span></div>
							</div>
						  </li>
						   <li class="layui-timeline-item">
							<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
							<div class="layui-timeline-content layui-text">
							  <div class="layui-timeline-title">2018-10-12 17:50:00，上传合同照片 <span>白杰</span></div>
							</div>
						  </li>
						   <li class="layui-timeline-item">
							<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
							<div class="layui-timeline-content layui-text">
							  <div class="layui-timeline-title">2018-10-12 17:50:00，上传合同照片 <span>白杰</span></div>
							</div>
						  </li>
						  <li class="layui-timeline-item">
							<i class="layui-icon layui-timeline-axis">&#xe643;</i>
							<div class="layui-timeline-content layui-text">
							  <div class="layui-timeline-title">2018-10-12 17:50:00，上传合同照片 <span>白杰</span></div>
							</div>
						  </li>
						</ul>
					</div>
				</div>
				<div class="layui-tab-item">
					<div class="layui-container" style="margin-top:15px">
						<button type="button" class="layui-btn" id="test1">
						   <i class="layui-icon">&#xe608;</i>添加图片
						</button>
						<button type="button" class="layui-btn" id="button">
						   <i class="layui-icon">&#xe67c;</i>上传图片
						</button>
						<div id="div_prev" title=""></div>
					</div>
					<div id="prevModal">
					   <img id="img_prev"/>
					</div>
				</div>
			  </div>
			</div>
      </div>
    </div>
    <div class="layui-col-md3">
     	<dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title" style="color: #177ce3;border-left: 2px #177ce3 solid;">录入信息</dt>
        <dd style="color: #333;"><p>录入人：白杰</p></dd>
        <dd style="color: #333;"><p>录入时间：2018-10-12 17:50:00</p></dd>
      </dl>
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title" style="color: #177ce3;border-left: 2px #177ce3 solid;">办件信息</dt>
        <dd style="color: #333;"><p>办件人：白杰</p></dd>
         <dd style="color: #333;"><p>周期：50天</p></dd>
        <dd style="color: #333;"><p>办件时间：2018-10-12 17:50:00</p></dd>
      </dl>
      <div class="fly-panel">
        <div class="fly-panel-title fly-filter">
          <a style="color: #177ce3;border-left: 2px #177ce3 solid;">跟进信息</a>
          <span class="fly-filter-right layui-hide-xs">
            <a href="javascript:void(0);" id="follow" style="color: #177ce3;"><i class="layui-icon">&#xe642;</i>添加跟进</a>
          </span>
        </div>
        <ul class="fly-list" id="list">          
          <li style="padding: 15px;height: auto;">
            <h2>
              <span id="desc">哈哈哈搜到萨达怕是怕实打实的拍摄</span>
            </h2>
            <div class="fly-list-info">
             	<span class="layui-badge" id="class">拜访</span>
              <span id="manInfo">同策房产-白杰 2019-04-23 10:42:07</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="fly-footer"></div>
<script src="../../lib/layui1/layui.js"></script>
<script src="js/detail.js"></script>
</body>
</html>